
.vs/PickTicketMonitorManager/v15/.suo
.vs/PickTicketMonitorManager/v15/Server/sqlite3/db.lock
.vs/PickTicketMonitorManager/v15/Server/sqlite3/storage.ide
.vs/PickTicketMonitorManager/v15/Server/sqlite3/storage.ide-shm
.vs/PickTicketMonitorManager/v15/Server/sqlite3/storage.ide-wal
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
